body {
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: brown;
}

h2 {
    text-transform: uppercase;
    color: blue;
    font-size: 25px;
}